BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: true
  BeforeElse: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
SortIncludes: Never
SpaceBeforeParens: ControlStatements
FixNamespaceComments: true
IndentCaseLabels: false