name: C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y cmake g++ make libgtest-dev nlohmann-json3-dev \
                            libpoppler-cpp-dev libpugixml-dev valgrind lcov

    - name: Build GTest
      run: |
        cd /usr/src/gtest
        sudo cmake -S . -B build
        sudo cmake --build build
        sudo cmake --install build

    - name: Configure & Build
      run: |
        # Use Debug to trigger the coverage flags in your CMakeLists.txt
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DSAVE_GENERATED_FILES=0
        cmake --build build -- -j$(nproc)

    - name: Run Tests & Gather Coverage
      run: |
        # 1. Reset counters
        lcov --directory . --zerocounters
        
        # 2. Execute all tests
        cd build
        ./test_report_loader
        ./test_xml_generator
        ./test_application_service
        cd ..
        
        # 3. Capture coverage with mismatch fix
        lcov --directory . --capture --output-file coverage.info --ignore-errors mismatch
        
        # 4. Filter only for your specific logic files
        lcov --extract coverage.info "*/src/app/application_service.cpp" \
                                     "*/src/backend/report_loader.cpp" \
                                     "*/src/backend/xml_generator.cpp" \
                                     --output-file coverage.info.filtered \